{% extends 'master' %}

{% block content %} 
  <div class="panel panel-default" style="padding: 5%">
    <div class="jumbotron" style="text-align: center">
      <h1>Munkaidő nyilvántartó</h1>
      <p>Üdvözöllek az oldalon! Jelentkezz be!</p>
      <p><a class="btn btn-primary btn-lg" href="../login">Bejelentkezés</a></p>
    </div>
  </div>
{% endblock %}
